* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px 0px;
}
.header {
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px 0px;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    img {
      width: 300px;
    }
  }
  &__list {
    display: flex;
  }
  &__list-item {
    margin-left: 30px;
    list-style: none;
    a {
      text-decoration: none;
      text-transform: uppercase;
      color: rgb(176, 176, 176);
      transition: 0.5s;

      &:hover {
        color: black;
        border-bottom: 1px solid black;
      }
    }
  }
  &__img {
    background-image: url(../img/Group7.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    height: 500px;
    margin-top: 20px;
    color: white;
    .header__text {
      padding: 140px 50px;
      p {
        max-width: 400px;
        font-family: Fraunces;
        color: gray;
      }

      h1 {
        max-width: 600px;
        font-size: 70px;
        margin: 10px 0px;
        font-family: Fraunces;
      }
    }
  }
}
@media only screen and(max-width: 425px) {
  .header__top {
    flex-direction: column;
  }
  .header__list {
    margin-top: 20px;
  }
  .header__img {
    max-width: 800px;
    background-size: cover;
    background-position: center;
    h1 {
      text-align: center;
    }
    p {
      text-align: center;
      margin: 0 auto;
    }
  }
  .header__text {
    h1 {
      font-size: 20px;
    }
    p {
      font-size: 10px;
    }
  }
  .header__list-item a {
    font-size: 10px;
  }
}

.section1 {
  display: flex;
  justify-content: space-around;

  &__text {
    width: 500px;
    margin-top: 100px;
    h2 {
      font-size: 40px;
    }
    p {
      margin: 20px 0px;
    }
  }
}

@media only screen and (max-width: 425px) {
  .section1 {
    display: grid;
  }
  .section1__text {
    text-align: center;
    margin-top: 20px;
    h2 {
      font-size: 30px;
      margin: 20px 0px;
    }
    p {
      font-size: 10px;
      text-align: center;
      margin: 0 auto;
      width: 380px;
    }
  }
}

.main {
  background-color: rgb(12, 12, 98);
  height: 400px;
  margin-top: 300px;
  margin-bottom: 20px;
}
.section2 {
  display: flex;
  justify-content: space-between;

  &__right-text {
    width: 400px;
    color: white;
    padding: 50px 0px;
    h2 {
      font-size: 40px;
      width: 500px;
      margin: 20px 0px;
    }
    p {
      width: 500px;
    }
  }
  &__left-imag {
    margin-top: -230px;
  }
}
@media only screen and (max-width: 425px) {
  .section2 {
    display: grid;
    text-align: center;
  }
  .section2__left-imag {
    margin-top: 30px;
  }
  .section2__right-text {
    h2 {
      text-align: center;
      font-size: 20px;
      width: 350px;
      margin: 30px auto;
    }
    p {
      width: 350px;
      margin: 0 auto;
      text-align: center;
    }
  }
}

.section3 {
  h3 {
    margin: 20px 0px;
    font-size: 50px;
    a {
      color: rgb(212, 212, 212);
      text-decoration: none;
    }
  }
  &__icons {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
  }
  &__text {
    img {
      margin: 30px 0px;
    }
    h4 {
      font-size: 40px;
    }
  }
  &__list-item {
    list-style: none;
    margin: 20px 0px;
    a {
      text-decoration: none;
      color: gray;
      &:hover {
        color: black;
      }
    }
  }
}
@media only screen and (max-width: 425px) {
  .section3 {
    margin-top: 500px;
    text-align: center;
  }
  .section3__icons {
    display: grid;
    margin-left: 60px;
  }
}
.footer {
  width: 100%;
  &__list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    margin-top: 10px;
  }
  &__container {
    max-width: 100%;
    background-color: rgb(26, 34, 70);
    margin: 0 auto;
    padding: 47px 0;
  }
  &__item {
    display: flex;
  }

  &__list-item {
    margin-left: 30px;
    list-style: none;

    &__item__anchor {
      text-decoration: none;
      color: white;
    }
  }
  &__icans {
    a {
      margin-left: 10px;
    }
  }
}
.footer__list-anchor {
  text-decoration: none;
  color: white;
  font-size: 21px;
  text-transform: uppercase;
}

footer {
  background-color: rgb(26, 34, 70);
}

@media only screen and (max-width: 1020px) {
  .footer__list {
    flex-direction: column;
    // padding: 54px 0;
    // margin: 0 auto;
    padding: 0;
  }

  .footer__item {
    margin: 30px 0px;
  }
  .footer__list-anchor {
    font-size: 15px;
  }
}
